@model IEnumerable<NutriHub.Models.Alimento>

@{
    ViewBag.Title = "Index";
}

<div class="view-container">
    <h2>Lista de alimentos</h2>

    <p>
        @Html.ActionLink("Agregar alimento", "Create")
    </p>
    <table class="table table-striped table-bordered" id="example">
        <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripción
            </th>
            <th>
                Nombre del nutriente
            </th>
            <th>
                Opciones
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nutriente1.nombre)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Alimento", new { id = item.idAlimento /* id=item.PrimaryKey */})" class="btn-index">Editar<i class=" icon ion-md-create"></i></a>
                    <a href="@Url.Action("Details", "Alimento", new {id = item.idAlimento /* id=item.PrimaryKey */ })" class="btn-index">Detalles  <i class=" ion-md-add"></i></a>
                    <a href="@Url.Action("Delete", "Alimento", new { id = item.idAlimento /* id=item.PrimaryKey */ })" class="btn-index">Eliminar<i class=" icon ion-md-trash"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>