@model IEnumerable<NutriHub.Models.Progreso>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPa.cshtml";
}

<div class="view-container">
    <h2>Progreso del paciente</h2>

    <p>
        @Html.ActionLink("Agregar progreso", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Talla
            </th>
            <th>
                Peso
            </th>
            <th>
                Porcentaje de agua
            </th>
            <th>
                Porcentaje de músculo
            </th>
            <th>
                Porcentaje de grasa
            </th>
            <th>
                Circunferencia branquial
            </th>
            <th>
                Circunferencia pantorrilla
            </th>
            <th>
                Edad
            </th>
            <th>
                Ocupación
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.talla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.porcentAgua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.porcentMusculo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.porcentGrasa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.circunfBraquial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.circunfPantorrilla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente1.ocupacion)
                </td>
                <td>
                    |
                    @Html.ActionLink("Detalles", "Details", new { id = item.PrimaryKey }) |
                </td>
            </tr>
        }

    </table>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script>
    $(document).ready(function () {
        $.getJSON("/Progresos/GetDatos", function (data) {
            var pacientes = []
            var peso = []
            var porAgua = []
            var porMusc = []
            var porGrasa = []
            var cirBranquial = []
            var cirPantorrilla = []
            for (var i = 0; i < data.length; i++) {
                pacientes.push(data[i].paciente);
                peso.push(data[i].peso);
                porAgua.push(data[i].porcAgua);
                porMusc.push(data[i].porcentMusculo);
                porGrasa.push(data[i].porcentGrasa);
                cirBranquial.push(data[i].circunBranquial);
                cirPantorrilla.push(data[i].circunPantorrilla);
            }

            Highcharts.chart('container', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Indicadores Corporales'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: ['Peso', 'porcent. Agua', 'porcent. Musculo', 'porcent. Grasa', 'circunf. Branquial', 'circunf Pantorrilla']
                },
                yAxis: {
                    title: {
                        text: 'VET'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: pacientes[0],
                    data: [peso[0], porAgua[0], porMusc[0], porGrasa[0], cirBranquial[0], cirPantorrilla[0] ]
                }, {
                        name: pacientes[1],
                        data: [peso[1], porAgua[1], porMusc[1], porGrasa[1], cirBranquial[1], cirPantorrilla[1]]
                }, {
                        name: pacientes[2],
                        data: [peso[2], porAgua[2], porMusc[2], porGrasa[2], cirBranquial[2], cirPantorrilla[2]]
                }, {
                        name: pacientes[3],
                        data: [peso[3], porAgua[3], porMusc[3], porGrasa[3], cirBranquial[3], cirPantorrilla[3]]
                }, {
                        name: pacientes[4],
                        data: [peso[4], porAgua[4], porMusc[4], porGrasa[4], cirBranquial[4], cirPantorrilla[4]]
                }, {
                        name: pacientes[5],
                        data: [peso[5], porAgua[5], porMusc[5], porGrasa[5], cirBranquial[5], cirPantorrilla[5]]
                }, {
                        name: pacientes[6],
                        data: [peso[6], porAgua[6], porMusc[6], porGrasa[6], cirBranquial[6], cirPantorrilla[6]]
                }, {
                        name: pacientes[7],
                        data: [peso[7], porAgua[7], porMusc[7], porGrasa[7], cirBranquial[7], cirPantorrilla[7]]
                }, {
                        name: pacientes[8],
                        data: [peso[8], porAgua[8], porMusc[8], porGrasa[8], cirBranquial[8], cirPantorrilla[8]]
                }, {
                        name: pacientes[9],
                        data: [peso[9], porAgua[9], porMusc[9], porGrasa[9], cirBranquial[9], cirPantorrilla[9]]
                }]
            });
        });
    });


</script>