@model IEnumerable<NutriHub.Models.IngestaDiaria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingestas</h2>

<p>
    @Html.ActionLink("Agregar nueva ingesta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Vet
        </th>
        <th>
            Porcentaje
        </th>
        <th>
            Nutriente
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcentaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nutriente1.nombre)
        </td>
        <td>
            <a href="@Url.Action("Edit", "IngestaDiarias", new { id = item.idIngesta })" class="btn-index">Editar<i class=" icon ion-md-create"></i></a>
            <a href="@Url.Action("Details", "IngestaDiarias", new { id = item.idIngesta })" class="btn-index">Detalles  <i class=" ion-md-add"></i></a>
            <a href="@Url.Action("Delete", "IngestaDiarias", new { id = item.idIngesta })" class="btn-index">Eliminar<i class=" icon ion-md-trash"></i></a>
        </td>
    </tr>
}

</table>
