@model IEnumerable<NutriHub.Models.PlanNutricional>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.porcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proposito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alimento.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngestaDiaria.idIngesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nutricionista1.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nutriente.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semana.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tiempoComida1.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proposito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alimento.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngestaDiaria.idIngesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nutricionista1.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nutriente.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semana.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tiempoComida1.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPlan }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPlan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPlan })
        </td>
    </tr>
}

</table>
