@model NutriHub.Models.Padecimiento

@{
    ViewBag.Title = "Detalles del padecimiento";
}

<h2>Detalles del padecimiento</h2>

<div>

    <div class="form-group col-md-7">
        <div class="label">
            <h4>Padecimiento</h4>
        </div>
    </div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            <div class="form-group col-md-12">
                <div class="label">
                    @Html.LabelFor(model => model.idPadecimiento, "Nombre del padecimiento", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
        </dt>

        <dd>
            <div class="form-group col-md-10">
                <div class="col-md-10">
                    <div class="label">
                        @Html.DisplayFor(model => model.nombre)
                    </div>
                </div>
            </div>
        </dd>

        <dt>
            <div class="form-group col-md-7">
                <div class="label">
                    @Html.LabelFor(model => model.idPadecimiento, "Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
        </dt>

        <dd>
            <div class="form-group col-md-10">
                <div class="col-md-10">
                    <div class="label">
                        @Html.DisplayFor(model => model.descripcion)
                    </div>
                </div>
            </div>
        </dd>

        <dt>
            <div class="form-group col-md-7">
                <div class="label">
                    @Html.LabelFor(model => model.idPadecimiento, "Tratamiento", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
        </dt>

        <dd>
            <div class="form-group col-md-10">
                <div class="col-md-10">
                    <div class="label">
                        @Html.DisplayFor(model => model.tratamiento)
                    </div>
                </div>
            </div>
        </dd>

    </dl>
</div>
<p>
    <div class="form-group col-md-10">
        <div class="col-md-10">
            <div class="label">
                @Html.ActionLink("Editar", "Edit", new { id = Model.idPadecimiento }) |
                @Html.ActionLink("Volver a la lista", "Index", new { usuario = ViewBag.id })
            </div>
        </div>
    </div>
</p>
