@model IEnumerable<NutriHub.Models.Padecimiento>

@{
    ViewBag.Title = "Padecimientos";
    Layout = "~/Views/Shared/_LayoutPa.cshtml";
}

<div class="view-container">
    <h2>Padecimientos</h2>
    <p>
        @Html.ActionLink("Agregar padecimiento", "Create")
    </p>

    <table class="table table-striped table-bordered" id="example">
        <thead>
        <tr>
            <th>
                ID del padecimiento
            </th>
            <th>
                Nombre
            </th>
            <th>
                Descripción
            </th>
            <th>
                Tratamiento
            </th>
            <th>
                Opción
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idPadecimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tratamiento)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idPadecimiento })

                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idPadecimiento })
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>