<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" Nutrición desde la casa">
    <meta name="keywords" content=" Una buena nutrición">
    <link rel="icon" href="~/img/nutri.ico" />


    <title>@ViewBag.Title - Nutrihub</title>

    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")


    <link rel="stylesheet" type="text/css" href="~/datatables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/datatables/DataTables-1.10.22/css/dataTables.bootstrap4.min.css">

</head>



<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("IndexPaciente", "Home", new{id = ViewBag.id})"><img src="~/img/Final.png" class="logo-brand" alt="logo" /> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon ion-md-menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("IndexCitaPaciente", "Citas", new { id = ViewBag.id })">Citas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("VistaIngestaPaciente", "IngestaDiarias", new { usuario = ViewBag.id })">Ingesta Diaria</a>
                    </li>
     
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("VistaPadecimientosPaciente", "Padecimientos", new { user = ViewBag.id})">Padecimientos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("IndexPaciente", "PacientePlanNutricional", new { usuario = ViewBag.id}, null)">Plan Nutricional</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ReporteIngesta", "ReporteIngesta", new { id = ViewBag.id})">Reportar Ingesta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Contacto", new { id = ViewBag.id})">Contacto</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown" style="padding-left: 2em">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon ion-md-person"></i> Mi perfil </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("DetailsPaciente", "Usuarios", new { id = ViewBag.id })">Datos</a>
                            <a class="dropdown-item" href="@Url.Action("EditPaciente", "Usuarios", new { id = ViewBag.id })">Configuracion</a>
                            <a class="dropdown-item" href="@Url.Action("iniciarSesion", "IniciarSesion")">Salir</a>
                        </div>
                    </li>
                    <li class="nav-item">

                    <li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-8adcda58-6df1-4a67-9282-c79222beb9f0"></div>


    @RenderBody()


    <footer>
        <p>&copy; @DateTime.Now.Year - Nutrihub</p>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/Content/main.js"></script>
    @RenderSection("scripts", required: false)


</body>
</html>
