@model IEnumerable<NutriHub.Models.Nutriente>

@{
    ViewBag.Title = "Nutrientes";
}
<div class="view-container">
    <h2>Lista de nutrientes</h2>

    <p>
        @Html.ActionLink("Agregar nutriente", "Create", new { id = ViewBag.id })
    </p>
    <table class="table table-striped table-bordered" id="example">
        <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Nutrientes", new { id = item.idNutriente})" class="btn-index">Editar<i class=" icon ion-md-create"></i></a>
                    <a href="@Url.Action("Details", "Nutrientes", new { id = item.idNutriente})" class="btn-index">Detalles  <i class=" ion-md-add"></i></a>
                    <a href="@Url.Action("Delete", "Nutrientes", new { id = item.idNutriente})" class="btn-index">Eliminar<i class=" icon ion-md-trash"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>