@model IEnumerable<NutriHub.Models.Consejo>

@{
    ViewBag.Title = "Lista de consejos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="view-container">
    <h1>Lista de consejos</h1>

    <p>
        @Html.ActionLink("Agregar consejo", "Create")
    </p>
    <table class="table table-striped table-bordered" id="example">
        <thead>
            <tr>
                <th>
                    Titulo Consejo
                </th>
                <th>
                    Mensaje del consejo
                </th>
                <th>
                    Referencia
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tituloConsejo)
                </td>
                <td style="width: 250px;">
                    @Html.DisplayFor(modelItem => item.mensajeConsejo)
                </td>
                <td style="width: 250px;">
                    @Html.DisplayFor(modelItem => item.referencia)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Consejo", new { id = item.idConsejo })" class="btn-index">Editar<i class=" icon ion-md-create"></i></a>
                    <a href="@Url.Action("Details", "Consejo", new { id = item.idConsejo })" class="btn-index">Detalles  <i class=" ion-md-add"></i></a>
                    <a href="@Url.Action("Delete", "Consejo", new { id = item.idConsejo })" class="btn-index">Eliminar<i class=" icon ion-md-trash"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


